* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

.crousel {
    width: 70%;
    height: 500px;
    overflow: hidden;
    transition: all 0.3s linear;
    display: flex;
    position: relative;
}

.crousel img {
    width: 100%;
    transition: all 0.3s linear;
    position: absolute;
    height: 100%;
    object-fit: cover;
}


.crousel .preBtn {
    position: absolute;
    left: -10px;
    width: 70px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border-radius: 50%;
    z-index: 9999999;
    font-size: 30px;
    top: 50%;
}

.crousel .nextBtn {
    z-index: 9999999;
    border: none;
    position: absolute;
    right: -10px;
    width: 70px;
    color: white;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    font-size: 30px;
    top: 50%;
    cursor: pointer;
}


.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
}


.indicator.active {
    background-color: #333;
}